<%= javascript_pack_tag 'charting' %>

<% @books.each do |book| %>
  <div class="book-card">
    <div class="book-cover"><%= link_to(cl_image_tag(book.book_image.url(:thumbnail), width: 178, height: 256), book)%></div>
    <div class="book-body">
      <h4><strong><%= link_to(book.title, book)%></strong></h4>
      <h5>By <%= book.author %>  </h5>
      <p><%= book.description[0..250].gsub(/\s\w+\s*$/,'...') %></p>
    </div>
    <div class="book-twitter">
      <%= pie_chart book.count_polarity, donut: true, legend: false, width: "150px", height: "150px", colors: ['#ffcd30','#0DD970','#f37632'] %>
    </div>
    <div class="book-mentions">
      <%= line_chart(book.tweets.group_by_day(:creation_date).count, width: "150px", height: "150px",colors: ["#0DD970"], library: {
          layout: {
                    padding: {left: 10, right: 5, top: 5, bottom: 2}
          },
          scales: {
        xAxes: [{
          display: false,
          gridLines: {
            display: false,
          }
        }],
        yAxes: [{
          display: false,
          gridLines: {
            display: false,
          }
        }]
      }})%>
    </div>
  </div>
<% end %>
