<%= javascript_pack_tag 'charting' %>

<div class="banner bckg-opacity">
  <% @tile_images.each do |tile_image| %>
    <div class="item" style='background-image: url(<%= cl_image_path(
    tile_image).gsub(/http/, 'https').gsub(/httpss/,'https') %>);'></div>
  <% end %>
</div>

<div class="container">

  <div class="book-show">
    <div class="book-show-cover" style="background-image: url(<%= @book.book_image.file.nil? ? "https://via.placeholder.com/178x256" : cloudinary_url(@book.book_image) %>);">
    </div>
    <%#<div class="buy-button book-show-buy text-center"> %>
      <%# <a href="<%= @book.affiliate_assign %">Buy on Amazon</a>%>
    <%# </div> %>
    <div class="book-show-description">
      <h2><%= @book.title %></h2>
      <h3>by <%= @book.author %></h3>
      <p><%= @book.description %></p>
      <a href="<%= @book.affiliate_assign %>">
        <div class="buy-button text-center">
          Buy on Amazon
        </div>
      </a>
    </div>
    <div class="overall-sentiment">
      <%=  @book.overall_sentiment.html_safe %>
    </div>

    <div class="show-social-icons">
      <ul class="no-dot product-controls hidden-sm hidden-xs">
        <li class="heart"><a href=""><i class="fas fa-heart"></i></a></li>
        <li class="share"><a href=""><i class="fas fa-share"></i></a></li>
        <li class="star"><a href=""><i class="fas fa-star"></i></a></li>
      </ul>
    </div>
  </div>


  <div class="book-analysis-twitter">

    <div class="logo twitter">
      <i class="fab fa-twitter"></i>
    </div>

    <div class="positive-sentiment sentiment-emojis" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/smiling-face-with-open-mouth_1f603.png)">
    </div>
    <div class="positive-text sentiment-text">
      <p><strong><%= @book.count_polarity["positive"] ? @book.count_polarity["positive"] : 0 %></strong> positive comments</p>
    </div>

    <div class="neutral-sentiment sentiment-emojis" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/neutral-face_1f610.png)">
    </div>
    <div class="neutral-text sentiment-text">
      <p><strong><%= @book.count_polarity["neutral"] ? @book.count_polarity["neutral"] : 0 %></strong> neutral comments</p>
    </div>

    <div class="negative-sentiment sentiment-emojis" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/angry-face_1f620.png)">
    </div>
    <div class="negative-text sentiment-text">
        <p><strong><%= @book.count_polarity["negative"] ? @book.count_polarity["negative"] : 0 %></strong> negative comments</p>
    </div>

    <div class="chart chart-design">
      <h4># of tweets over time</h4>
      <%= line_chart @book.tweets.group_by_day(:creation_date).count %>
    </div>

    <div class="separation-line"></div>

    <div class="title padding-left">
      <h4><strong>What people are saying on Twitter (sample)</strong></h4>
    </div>

    <div class="book-comments no-dot">
      <div class="comments-grid">
        <% @book.tweets.sample(5).each do |t| %> 
          <li><div class="speech-bubble"><%= t.tweet %></div></li> 

        <% end %>
      </div>
    </div>
    
  </div>



  <div class="book-analysis-amazon">

    <div class="logo amazon">
      <i class="fab fa-amazon"></i>
    </div>

    <div class="positive-sentiment sentiment-emojis" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/smiling-face-with-open-mouth_1f603.png)">
    </div>

    <div class="positive-text sentiment-text">
      <p><strong><%= @book.count_polarity_amazon["positive"] ? @book.count_polarity_amazon["positive"] : 0 %></strong> positive comments</p>
    </div>

    <div class="neutral-sentiment sentiment-emojis" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/neutral-face_1f610.png)">
    </div>

    <div class="neutral-text sentiment-text">
      <p><strong><%= @book.count_polarity_amazon["neutral"] ? @book.count_polarity_amazon["neutral"] : 0 %></strong> neutral comments</p>
    </div>

    <div class="negative-sentiment sentiment-emojis" style="background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/angry-face_1f620.png)">
    </div>

    <div class="negative-text sentiment-text">
        <p><strong><%= @book.count_polarity_amazon["negative"] ? @book.count_polarity_amazon["negative"] : 0 %></strong> negative comments</p>
    </div>

    <div class="chart chart-design">
      <h4># of reviews over time</h4>
      <%= line_chart @book.amazon_reviews.group_by_day(:creation_date).count %>
    </div>


    <div class="separation-line"></div>

    <div class="title padding-left">
      <h4><strong>What people are saying on Amazon (sample)</strong></h4>
    </div>

    <div class="book-reviews padding-right">
      <ul class="no-dot">
        <% @book.amazon_reviews.sample(5).each do |r| %>
          <li>
            <div class="review-square">
              <div class="review-shortened"><%= r.review %></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>
